# EDA(Exploratory Data Analysis)

1. load datasets
2. Clean data (missing values , duplicates , types)
3. treat outliers
4. univariate, bivariate and multivariate analysis
5. insights

#### Outlier 
 A data point that is significantly different from other observations in a dataset

 How outliers will come?
  1. Measurement errors
  2. data entry mistakes

 Why they are important-?
 1. they can be errors
 2. They effect the data analysis

 How to identify the outliers-?
  1. Statistical Methods
   ---> Interquartile Range(IQR)
   --->z-score 
  2. Visualization Tech
   ---> box Plots  
   --->scatter Plots

##### Univariate Analysis

The method that analyses a single variable to describe its characteristics ,finding patterns and summarize the data.
It involves only one variable

##### Bivariate analysis
It will give the relationship between 2 variables.It helps to discover if there is a correlation,association or connection between 2 variables

It involves 2 variables(x & y)

##### Multivariate Analysis
To understand how multiple factors interact and influence eachother

It involves more than 2 

Example-
How our age,income,and education level together influence the purchasing the behavior

# ETL

# ELT

#### EDA : <Dataset>

1. Load & overview 
2. Cleaning the dataset(missing , dupes ,dtypes)
3. Univariate, bivariate or multivariate analysis
4. Outlier -IQR
5. Feature Engineering
6. Key Insights

Feature Engineering -
F.E is the process of turning raw data into useful features that helps to improve the performance of machine learning models.

In [3]:
import pandas as pd 
import numpy as numpy
import  seaborn as sns
import matplotlib.pyplot as pyplot
 
df=sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [1]:
%pip install seaborn

Requirement already satisfied: seaborn in /opt/anaconda3/lib/python3.13/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/anaconda3/lib/python3.13/site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in /opt/anaconda3/lib/python3.13/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/anaconda3/lib/python3.13/site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
print("Shape of Dataset",df.shape)
print("INFO",df.info())
print("TOTAL DETAILS OF DATASETS",df.describe())

Shape of Dataset (891, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
INFO None
TOTAL DETAILS OF DATASETS          survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [11]:
#Missing values analysis
missing=pd.DataFrame({
    "missing_count":df.isnull().sum(),
    "missing_percent":(df.isnull().sum()/len(df))*100
})
missing.sort_values(by='missing_percent',ascending=False)

             missing_count  missing_percent
deck                   688        77.216611
age                    177        19.865320
embarked                 2         0.224467
embark_town              2         0.224467
survived                 0         0.000000
pclass                   0         0.000000
sex                      0         0.000000
sibsp                    0         0.000000
parch                    0         0.000000
fare                     0         0.000000
class                    0         0.000000
who                      0         0.000000
adult_male               0         0.000000
alive                    0         0.000000
alone                    0         0.000000